# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyTorch & Large Models
*.pth
*.pt
*.onnx
*.onnx.data
*.onnx_data
*.bin
*.h5

# Heavy Binary Data & Datasets
*.npz
*.npy
*.pkl
frames/
*.mp4
*.avi

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Environments & IDE
.env
.venv
env/
venv/
.vscode/
.idea/
.DS_Store
Thumbs.db

